<div class="divMain">
  <div class="divHeader">
    </div>
    <div class="divRow">
      <div class="WelcomeArea">
        <h2 class="Title">Welcome back!</h2>
        <div class="DivRowSignInOrCreate">
          <button class="buttonSignIn">Sign In</button>
          <button (click)="hide()" class="buttonSignIn">Create User</button>
        </div>
        <div *ngIf="!isLogin" class="LoginArea">
          <h3 class="TextEmailPassword">Username.</h3>
          <input 
            [(ngModel)]="name"
            type="text" 
            placeholder="Name"
            class="InputLoginPassword">  
        </div>
        <div *ngIf="!isLogin" class="LoginArea">
          <h3 class="TextEmailPassword">Email.</h3>
          <input 
            [(ngModel)]="email"
            type="text" 
            placeholder="Email"
            class="InputLoginPassword">  
        </div>
        <div *ngIf="!isLogin" class="LoginArea">
          <h3 class="TextEmailPassword">Password.</h3>
          <input 
            [(ngModel)]="password"
            type="text" 
            placeholder="Password"
            class="InputLoginPassword">
        </div>
        <div *ngIf="!isLogin" class="ButtonAreas">
          <button (click)="add_user()"class="ButtonLogin">Create User</button>
        </div>
      </div>
      <div class="testediv">
        <div class="divList">
        <p class="p" *ngFor="let user of users">
        &diamondsuit;User ID: <b>{{user.id}}</b> // Name: <b>{{user.Name}} // Email: {{user.Email}}</b>
      </p>
      <div style="margin: 200px;">
      
        </div>   

      </div>        
      </div>
    </div>
    <!-- <div class="divList">
    <input type="text" [(ngModel)]="newtask">
    <button (click)="add_task()">Add Task</button>
  <p class="p" *ngFor="let item of tasks">
    &diamondsuit;Task ID: <b>{{item.id}}</b> - Name: <b>{{item.task}}</b>
    <button (click)="del_task(item.id)">Delete Task</button>
  </p>
  <div style="margin: 200px;">

</div>   

</div> -->
</div>
